@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Hammersmith+One&family=Kanit:wght@300&family=Lancelot&family=Mukta&family=Saira+Condensed&family=Share+Tech&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
.navbar {
    font-family: "Hammersmith One", sans-serif;
    font-size: medium;
}

.row {
    font-family: "Kanit", sans-serif;
}
.navbar-brand {
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.blockquote-custom {
    position: relative;
    font-size: 1.1rem;

}

.blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
}
.text-center {
    font-family: "Hammersmith One", sans-serif;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #fc040400;
    bottom: 20px;
    right: 20px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: rgb(0, 0, 0);
    font-size: 22px;
}

h2 {
    font-family: "Lancelot", cursive;
}

/*!PROFIL*/
